body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px;
}

/* CONTENEDOR DEL MENÚ */
.menu-vertical {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 350px;
}

/* ELEMENTOS */
.menu-vertical li {
    background: #d9d9d9;
    padding: 18px;
    border-bottom: 2px solid white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
    letter-spacing: 1px;
}

/* BOTÓN "ENTRAR" */
.menu-vertical .btn {
    background: white;
    padding: 6px 14px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    border: 1px solid #bbb;
}

