body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;   /* Centra horizontal */
    align-items: center;       /* Centra vertical */
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.caja {
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
